* {
  color: rgb(12,56,74);
}
body {
  margin: 0;
}
.hero {
  height: 350px;
  background-image: url(../img/pattern.png);
}

section article {
  counter-increment: titleList;
}

section .title-setup::before {
  content: counter(titleList);
}