:root {
  --font-title: Nunito, Arial, sans-serif;
  --gray-30: #FFF;
  --gray-20: #A5A3A5;
  --gray-10: #A5A3A5;
  --background-footer:#FFF;

}

html {
  font-size: 62.5%;
  font-family: var(--font-title);
  font-style: normal;
}

body {
  margin: 0;
  background-color: #251F24;
;
}


header a, header p {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--gray-10);
}

header summary, header summary a, header p {
  font-weight: 700;
  color: var(--gray-30);
}

ol {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--gray-10);
  line-height: 2.4rem;
}

h1 {
  color:var(--gray-30);
  font-size: 6rem;
}

h2 {
  color:var(--gray-30);
  font-size: 3.2rem;
}

h3 {
  color:var(--gray-30);
  font-size: 2.4rem;
  font-weight: 600;
}

p {
  font-size: 1.6rem;
  color: var(--gray-20);
}

p strong {
  font-weight: 700;
  font-style: italic;
}

.setup h3::after, .conceptos-web h3::after {
  content: " ";
  display: block;
  background-color: var(--gray-30);
  width: 80px;
  height: 4px;

}

section article p {
  font-size: 1.6rem;
  color: var(--gray-20);
}

hr {
  border: 1px solid rgba(97, 97, 97, 0.2);
}

.hero {
  height: 350px;
  background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
}

section article {
  counter-increment: titleList;
}

section .title-setup::before {
  content: counter(titleList) ". ";
}

blockquote {
  background-color: #3A3539;
  border-radius: 8px;
  padding: 24px;
}

blockquote p{
  font-size: 2.4rem;
  display: block;
  margin:8px 0 8px 0;
  color: #FFF;
}


pre {
  color: #FFF;
  background-color: #3A3539;
  font-family: var(--font-title);
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  font-size: 1.6rem;
  border-radius: 8px;
  padding: 40px;
}

.dom img, .css img , .modelo-caja img {
  width: 100vw;
}

.modelo-caja ul li::marker{
  color: #FFF;
}

.modelo-caja li {
  font-size: 1.6rem;
  color: var(--gray-10);
}

.modelo-caja ul li {
  line-height: 24px;
  margin-bottom: 16px;
}

.modelo-caja a {
  font-weight: 400;
  color: #0066ff;
}

.suscribe input {
  background-color: #251F24;
  width: 100%;
  margin-bottom: 20px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #FFFFFF;
  font-size: 1.6rem;
  padding: 0 16px;
}

.suscribe input::placeholder {
  color: #FFF;
}

.suscribe .button {
  background-color: #157EFB;
  border: none;
  color: white;
  width: 100%;
  padding: 12px;
}

.footer {
  background-color: var(--background-footer) ;
  padding-top:48px;
  padding-bottom: 88px;
}
.footer p{
  color: #251F24;
  font-size: 3.2rem;
}


